.container {
    background-color: grey;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    margin: 10px;
    padding: 5px;
    width: 300px;
}

.erro {
    align-items: center;
    background-color: red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

}
